.expenses{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 75vw;
        background-color: #101010;
        display: flex;
        align-items: center;
        justify-content: center;
        
        // left
        .expensesCard{
            background-color: white;
            width: 95%;
            height: 95%;
            border-radius: 30px;
            overflow-y: scroll;
            .expensesOverview{
                width: 65%;
                padding: 5rem;
               
                .expensesHeader{
                    display: flex;
                    justify-content: space-between;
                    .expensesTitle{
                            font-size: 40px;
                            font-weight: 600;
                    }
                    .expensesAction{
                        display: flex;
                        align-items: center;
                        .personImages{
                                .personThree{
                                    margin-right: 30px;
                                }
                        }
                        .addIcon{
                            cursor: pointer;
                        }
                    }
                }
                .dateRange{
                        margin-top: 1rem;
                        opacity: 0.5;
                        margin-bottom: 2rem;
                }
                .expensesOverviewHeader{
                    margin-top: 3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 0.75rem;
                    border-bottom: 1px solid #dedede;
                    .expensesOverviewTitle{
                        font-size: 18px;
                        font-weight: 500;
                    }
                   
                }
                ul{
                    .expenseItem{
                        margin: 1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .expenseItemLeft{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .expenseItemDiv{
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                
                            }
                            .expenseItemDetails{
                                margin-left: 1rem;
                                .expenseItemTitle{
                                font-weight: 600;
                                margin-bottom: 0.5rem;
                                }
                                .expenseItemTime{
                                    opacity: 0.5;
                                }
                            }
                        }
                        .expenseItemPrice{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
}