.sidebar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 25vw;
    background-color: #101010;
    color: white;
    display: flex;
    justify-content: center;
  .sidebarContent{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .profileDetails{
                    margin-top: 2rem;
                    .profileImageDiv{
                        position: relative;
                        .notification{
                            position: absolute;
                            width: 2rem;
                            height: 2rem;
                            top: -12px;
                            right: 100px;
                            border-radius: 50%;
                            background-color: red;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .userName{
                        margin-top: 1rem;
                        font-weight: 600;
                        font-size: 30px;
                    }
                    .userEmail{
                        margin-top: 1rem;
                        opacity: 0.4;
                    
                    }
                }
                .sidebarNav{
                    margin-bottom: 3rem;
                    .sidebarNavItem{
                        margin: 2rem 0;
                        .sidebarNavLink{
                            text-decoration: none;
                            outline: none;
                            color: white;
                            opacity: 0.5;
                            font-size: 25px;
                            font-weight: 500;
                            &Active{
                                @extend .sidebarNavLink;
                                opacity: 1;
    
                                
                            }
                        }
                     
                      
                    }
                }
    }
}